@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.item-container {
    max-width: 300px;

    &:hover {
        // background-color: #ff3852;
        background-color: #fc6b5e;
        font-weight: bolder;
    }
}

h1,
h2,
h3,
h4,
label,
legend {
    color: #550658;
    font-family: "Roboto", sans-serif;
}

a:hover {
    text-decoration: none;
}

body {
    // background-color: #ffb5a4;
    background-color: #fda8a1;
}
