// @import "./styles/variables.scss";

.buttonSearch {
    color: red;
}

.navBar {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background-color: #e7475c;
    color: #360d17;
}


