@import "../../App.scss";

.buttonSearch {
    color:white;
    &:hover{
        color: #bfa0ac;
    }
}

.navBar {
    // font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: larger;
    background-color: $color-bg-terciario;
    color: #360d17;
}

.navLinks:hover {
    color: white;
}

.hvr-underline-from-center {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: pink;
        height: 1px;
        transition-property: left, right;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
.hvr-underline-from-center:focus {
    color: pink;
}

.navbar-brand {
    font-size: xx-large !important;
}