@import '../../App.scss';

footer {
    background-color: $color-bg-terciario;
    font-weight: 500;
    
    li {
        list-style: none;

        .link {
            color: black;
        }
    }
}

.faIcons {
    color: white;

    &:hover {
        color: #521423;
    }
}


.footer-description{
    background-color: #caacb9;
}