// body{
//     padding-bottom: 100px; 
// }

footer {
    background-color: #fc6b5e;
    font-family: "Roboto", sans-serif;
    
    
    li {
        list-style: none;

        .link {
            color: black;
        }
    }
}

.faIcons {
    color: white;

    &:hover {
        color: #521423;
    }
}


.footer-description{
    background-color: #fc7a6f;
}