@import '../../styles/variables.scss';


.button2 {
    background-color: #DD9E9E;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    color: black;
    border-radius: 20px; 
    &:hover {
        color: white;
        background-color: #fc6b5e;
    }
}


input:hover{
    border: 3px solid #fc6b5e;
 
}