@import "styles/variables.scss";

.red-panda-color {
  color: $color-primario !important;
  background-color: $color-primario !important;
}

.jumbotron {
  background-color: #DD9E9E !important;
}

.btn-primary {
  background-color: $color-primario !important;
  border-color: $color-primario !important;
}

.button-as-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: black;
  cursor: pointer;
}

.button-as-link:hover {
  color:#fc6b5e;
  text-decoration: underline;
}
